<%= render partial: '/shared/flash_alerts' %>

<div class="flex-row">
  <div>
    <% if @role %>
      <h1>Volunteers - <%= @role.title.titlecase %></h1>
    <% else %>
      <h1>Volunteers</h1>
    <% end %>
  </div>
  <div>
    <%= link_to "Add new volunteer", new_volunteer_path, class: "button" if !@role %>
  </div>
</div>

<% if !@role %>
  <div class="search-bar">
    <%= form_tag volunteers_path, method: :get do %>
      <%= text_field_tag :query, nil, placeholder: "Search by name" %>
      <%= submit_tag "Search", name: nil, class: "button-search"%> 
    <% end %>
    <%= render partial: '/shared/flash_search_guide' %>
  </div>
<% end %>

<div class="scroll">
  <table class="full-width">
    <thead>
      <tr>
        <% if @role %>
          <th>First name</th>
          <th>Last name</th>
          <th>Phone</th>
          <th>Email</th>
        <% else %>
          <th><%= link_to "First name", :query => "first_name" %></th>
          <th><%= link_to "Last name", :query => "last_name" %></th>
          <th><%= link_to "Last volunteer date", :query => "date" %></th>
          <th><%= link_to "Total hours", :query => "hours" %></th>
        <% end %>
      <tr>
    </thead>
    <tbody>
      <%= render partial: 'volunteer', collection: @volunteers, locals: {role: @role} %> 
      <%= message_if_no_records(@volunteers) %>
    </tbody>
  </table>
</div>
