<div class="flex-row">
  <div>
    <h1>Volunteers</h1>
  </div>
  <div>
    <%= link_to "Add new volunteer", new_volunteer_path, class: "button" %>
  </div>
</div>

<div>
  <%= form_tag volunteers_path, method: :get do %>
    <%= label_tag :query, "Search by name" %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search", name: nil, class: "button-search"%> 
  <% end %>
</div>

<div>
  <table class="full-width">
    <tr>
      <th><%= link_to "First name", :query => "first_name" %></th>
      <th><%= link_to "Last name", :query => "last_name" %></th>
      <th><%= link_to "Last volunteer date", :query => "date" %></th>
      <th><%= link_to "Total hours", :query => "hours" %></th>
    <tr>
  <% @volunteers.each do |v| %>
    <tr class="table-content">
      <td><%= link_to v.first_name, volunteer_path(v) %></td>
      <td><%= v.last_name %></td>
      <td><%= format_date(v.last_activity_date) %></td>
      <td><%= display_hours(v.total_hours) %></td>
    </tr>
  <% end %>
  </table>
</div>
