<div>
  <div>
    Profile Image 
  </div>
  <div>
    <p>Volunteer since <%= @volunteer.start_year %></p>
    <p>Total hours: <%= display_hours(@volunteer.total_hours) %></p>
    <p>See all activity records - nested route here </p>
    <p><%= link_to 'Edit volunteer', edit_volunteer_path(@volunteer) %></p>
  </div>
  <div>
    <%= button_to 'Delete volunteer', volunteer_path(@volunteer), method: :delete %>
  </div>
</div>
<div>
  <div>
    <div>
      <h1><%= @volunteer.full_name %></h1>
      <p>Phone: <%= @volunteer.phone %></p>
      <p>Email: <%= mail_to @volunteer.email %></p>
    </div>
    <div>
      Add activity record buton!!!
    </div>
  </div>

  <div>
    <p>Background check status: <%= @volunteer.background_check_status.capitalize %><p>
    <p>Occupation: <%= @volunteer.occupation %></p>
    <p>Employer: <%= @volunteer.employer %></p>
    <p>Birthday: <%= format_date(@volunteer.birthday) %></p>
    <p>Age range: <%= display_age_group(@volunteer) %></p>
    <p>Interests: <%= @volunteer.interests %></p>
    <p>Roles: <%= render partial: 'role_links', collection: @volunteer.roles.uniq, as: :role, spacer_template: 'shared/comma' || "No roles" %></p>
  </div>
<div>

