<div>
  <div>
    Profile Image 
  </div>
  <div>
    <p>Volunteer since <%= @volunteer.start_year %></p>
    <p>Total hours: <%= display_hours(@volunteer.total_hours) %></p>
    <p>See all activity records - nested route here </p>
    <p><%= link_to 'Edit volunteer', edit_volunteer_path(@volunteer) %></p>
  </div>
  <div>
    <%= button_to 'Delete volunteer', volunteer_path(@volunteer), method: :delete %>
  </div>
</div>
<div>
  <div>
    <div>
      <h1><%= @volunteer.full_name %></h1>
      <p><span class="emphasis">Phone: </span><%= @volunteer.phone %></p>
      <p><span class="emphasis">Email: </span><%= mail_to @volunteer.email %></p>
    </div>
    <div>
      Add activity record buton!!!
    </div>
  </div>

  <div>
    <p><span class="emphasis">Background check status: </span><%= @volunteer.background_check_status.capitalize %><p>
    <p><span class="emphasis">Occupation: </span><%= @volunteer.occupation %></p>
    <p><span class="emphasis">Employer: </span><%= @volunteer.employer %></p>
    <p><span class="emphasis">Birthday: </span><%= format_date(@volunteer.birthday) %></p>
    <p><span class="emphasis">Age range: </span><%= display_age_group(@volunteer) %></p>
    <p><span class="emphasis">Interests: </span><%= @volunteer.interests %></p>
    <p><span class="emphasis">Roles: </span><%= render partial: 'role_links', collection: @volunteer.roles.uniq, as: :role, spacer_template: 'shared/comma' || "No roles" %></p>
  </div>
<div>

