<div class="grid-container profile">
  <div class="grid-sidebar">
    <% if @volunteer.photo.present? %>
      <%= image_tag("#{@volunteer.photo}", alt: "#{@volunteer.full_name}") %>
    <% else %>
      <%= image_tag("undraw_polaroid_gg6n.svg", alt: "Add a photo link to set a profile image") %>
    <% end %>
  
    <div>
      <p>Volunteer since <%= @volunteer.start_year %></p>
      <p>Total hours: <%= display_hours(@volunteer.total_hours) %></p>
      <p><%= link_to 'See all activity records', volunteer_activities_path(@volunteer) %></p>
      <p><%= link_to 'Edit volunteer', edit_volunteer_path(@volunteer) %></p>
    </div>
    <div>
      <%= button_to 'X Delete volunteer', volunteer_path(@volunteer), method: :delete, 
        data: {confirm: "ALERT: Deleting this volunteer will also delete all of their activity records. Do you want to continue?" },
        class: "button delete" %>
    </div>
  </div>
  
  <div class="grid-main">
    <div class="flex-row">
      <h1><%= @volunteer.full_name %></h1>
      <%= link_to "Add new activity", new_volunteer_activity_path(@volunteer), class: "button" %>
    </div>

    <div>
      <p><span class="emphasis">Phone: </span><%= @volunteer.phone %></p>
      <p><span class="emphasis">Email: </span><%= mail_to @volunteer.email %></p>
    </div>
    
    <hr>  
  
    <div>
      <p><span class="emphasis">Background check status: </span><%= @volunteer.background_check_status.capitalize %><p>
      <p><span class="emphasis">Occupation: </span><%= @volunteer.occupation %></p>
      <p><span class="emphasis">Employer: </span><%= @volunteer.employer %></p>
      <p><span class="emphasis">Birthday: </span><%= display_date(@volunteer.birthday) %></p>
      <p><span class="emphasis">Age range: </span><%= display_age_group(@volunteer) %></p>
      <p><span class="emphasis">Interests: </span><%= @volunteer.interests %></p>
      <p><span class="emphasis">Roles: </span><span class="primary-color"><%= render partial: 'role_links', collection: @volunteer.roles.uniq, as: :role, spacer_template: 'shared/comma' || "No roles" %></span></p>
    </div>
  </div>
</div>