<%= render partial: '/shared/flash_alerts' %>

<div class="dashboard">
  <h1>Welcome, <%= @user.username %></h1>
  
  <div class="link-block">
    <%= link_to "Add volunteer", new_volunteer_path %> | <%= link_to "Add role", new_role_path %> | <%= link_to "Add activity record", new_activity_path %> | <%= link_to "Account", user_path(@user) %>
    <hr>
  </div>

  <h2>Volunteer Engagement Highlights</h2>
  <%= new_user_welcome %>
  <div class="tri-flex-container">
    <div>
      <h3>This month</h3>
      <p><span class="emphasis">Total hours: </span><%= display_hours(@user.hours_this_month) %></p>
      <p><span class="emphasis">Total engagements: </span><%= @user.activities_this_month %> </p>
      <p><span class="emphasis">Unique volunteers: </span><%= @user.unique_volunteers_this_month %></p>
      <p><span class="emphasis">New volunteers: </span><%= @user.new_volunteers_this_month %></p>
    </div>
    <div>
      <h3>This year</h3>
      <p><span class="emphasis">Total hours: </span><%= display_hours(@user.hours_this_year) %></p>
      <p><span class="emphasis">Total engagements: </span><%= @user.activities_this_year %></p>
      <p><span class="emphasis">Unique volunteers: </span><%= @user.unique_volunteers_this_year %></p>
      <p><span class="emphasis">New volunteers: </span><%= @user.new_volunteers_this_year %></p>
    </div>
    <div>
      <h3>Cummulative</h3>
      <p><span class="emphasis">Total hours: </span><%= display_hours(@user.total_hours) %></p>
      <p><span class="emphasis">Total engagements: </span><%= @user.total_activities %></p>
      <p><span class="emphasis">Unique volunteers: </span><%= @user.unique_volunteers %></p>
    </div>
  </div>
  <div>
    <h3 id="birthday-heading">Birthdays this month</h3>
    <%= render partial: 'birthday_list', collection: @user.birthday_list, as: :volunteer %>
    <%= message_if_no_birthdays %>
  </div>
</div>