<div class="visitor-container">
  <div class="left-item">
    <h1>VolunteerLog</h1>
      <p>Track your volunteers, opportunities,and volunteer engagement records in one place for easier management and reporting.</p>
      <p><%= button_to 'Sign in with GitHub', '/auth/github', class: "github" %></p>
  </div>

  <div class="right-item">
    <h2>Login<span class="de-emphasize"> or <%= link_to 'sign up', signup_path %></span></h2>
      <%= form_for :user, url:'/login' do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email %><br>
        <%= f.label :password %>
        <%= f.password_field :password %><br>
        <%= f.submit "Login" %>
      <% end %>
  </div>
</div>