<div>
  <div>
    <h1>Volunteer roles</h1>
  </div>
  <div>
    <%= link_to "Add new role", new_role_path %>
  </div>
</div>

<div>
  <p><%= link_to "All roles", roles_path %>
  | Apply a filter: <%= link_to "Recruiting", roles_path(keyword: "recruiting") %> | <%= link_to "Family-friendly", roles_path(keyword: "family-friendly") %>
  <%= form_tag roles_path, method: :get do %>
    <p><%= submit_tag "Search by title keyword:", name: nil %>
    <%= text_field_tag :query, params[:query] %></p>
  <% end %>
  </div>

<div>
 <% @roles.each do |role| %>
    <p><%= link_to role.title, role_path(role) %> - <%= remove_underscores(role.status) %> - <%= remove_underscores(role.frequency) %></p>
  <% end %>
</div>

