<div class="flex-row">
  <div>
    <h1>Volunteer roles</h1>
  </div>
  <div>
    <%= link_to "Add new role", new_role_path, class: "button" %>
  </div>
</div>

<div>
  <div class="filter-options">
    <%= link_to "All roles", roles_path %>
    <span>Apply a filter:</span>
    <%= link_to "Recruiting", roles_path(query: "recruiting") %> | 
    <%= link_to "Family-friendly", roles_path(query: "family-friendly") %>
  </div>
  <%= form_tag roles_path, method: :get do %>
    <p><%= submit_tag "Search by title keyword:", name: nil %>
    <%= text_field_tag :query %></p>
  <% end %>
</div>

<div>
 <% @roles.each do |role| %>
    <p><%= link_to role.title, role_path(role) %> - <%= remove_underscores(role.status) %> - <%= remove_underscores(role.frequency) %></p>
  <% end %>
</div>

