<div class="flex-row">
  <div>
    <h1>Volunteer roles</h1>
  </div>
  <div>
    <%= link_to "Add new role", new_role_path, class: "button" %>
  </div>
</div>

<div>
  <div class="filter-options">
    <span>Apply a filter:
    <%= link_to "Recruiting", roles_path(query: "recruiting") %> | 
    <%= link_to "Family-friendly", roles_path(query: "family-friendly") %> |
    <%= link_to "All roles", roles_path %></span>
  </div>
  <div class="search-bar">
    <%= form_tag roles_path, method: :get do %>
      <%= text_field_tag :query, nil, placeholder: "Search by title" %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>
</div>

<div class="scroll">
  <table class="full-width">
    <thead>
      <tr>
        <th><%= link_to "Title", :query => "title" %></th>
        <th><%= link_to "Status", :query => "status" %></th>
        <th><%= link_to "Frequency", :query => "frequency" %></th>
        <th><%= link_to "Age requirement", :query => "age" %></th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
        <tr class="table-content">
          <td><%= link_to role.title, role_path(role) %></td>
          <td><%= remove_underscores(role.status) %></td>
          <td><%= remove_underscores(role.frequency) %></td>
          <td><%= display_age_requirement(role) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

