<div class="flex-row">
  <div>
    <h1><%= @role.title.titlecase %></h1>
  </div>
  <div>
    <%= button_to 'X Delete role', role_path(@role), method: :delete, 
      data: {confirm: "ALERT: Deleting this role will delete all associated activity records. You can change the role to a 'no opportunities' status, or click 'Ok' to delete this role and all its activity records." },
      class: 'button delete' %>
  </div>
</div>
<div>
  <p><span class="emphasis">Description: </span><%= @role.description %></p>
  <p><span class="emphasis">Status: </span><%= remove_underscores(@role.status) %></p>
  <p><span class="emphasis">Frequency: </span><%= remove_underscores(@role.frequency) %></p>
  <p><span class="emphasis">Days: </span><%= @role.days %></p>
  <p><span class="emphasis">Age requirement: </span><%= display_age_requirement(@role) %></p>
  <p><span class="emphasis">Background check required? </span><%= display_yes_no(@role.background_check_required)%></p>
</div>
<div class="button-block">
  <%= link_to 'View volunteers', role_volunteers_path(@role), class: "button" %>
  <%= link_to 'Edit role', edit_role_path(@role), class: "button" %>
</div>
