<div class="flex-row">
  <div>
    <h1><%= @role.title.titlecase %></h1>
  </div>
  <div>
    <p><%= button_to 'X Delete role', role_path(@role), method: :delete, class: 'button delete' %></p>
  </div>
</div>
<div>
  <p><span class="emphasis">Description: </span><%= @role.description %></p>
  <p><span class="emphasis">Status: </span><%= remove_underscores(@role.status) %></p>
  <p><span class="emphasis">Frequency: </span><%= remove_underscores(@role.frequency) %></p>
  <p><span class="emphasis">Days: </span><%= @role.days %></p>
  <p><span class="emphasis">Age requirement: </span><%= display_age_requirement(@role) %></p>
  <p><span class="emphasis">Background check required? </span><%= display_yes_no(@role.background_check_required)%></p>
</div>
<div>
  <p>Add link to nested role/volunteers path</p>
  <%= link_to 'Edit role', edit_role_path(@role), class: "button" %>
</div>
