<div class="flex-row">
  <div>
    <h1>Activity Records</h1>
  </div>
  <div>
    <%= link_to "Add new record", new_activity_path, class: "button" %>
  </div>
</div>

<div>
  <div class="filter-options">
    <p>Sort by <%= link_to "Newest", activities_path(query: "newest") %> | <%= link_to "Oldest", activities_path(query: "oldest") %></p>
  </div>
  <div>
    <%= form_tag activities_path, method: :get do %>
      <p><%= submit_tag "Search by volunteer:", name: nil %>
      <%= text_field_tag :query %></p>
    <% end %>
  </div>
</div>

<% @activities.each do |activity| %>
  <p><%= link_to format_date(activity.date), activity_path(activity) %> - <%= activity.volunteer.full_name %> - <%= activity.role.title %> - <%= display_hours(activity.duration) %></p>
<% end %>