<div class="flex-row">
  <div>
    <h1>Activity Records</h1>
  </div>
  <div>
    <%= link_to "Add new record", new_activity_path, class: "button" %>
  </div>
</div>

<div>
  <div class="filter-options">
    <p>Sort by <%= link_to "Newest", activities_path(query: "newest") %> | <%= link_to "Oldest", activities_path(query: "oldest") %></p>
  </div>
  <div>
    <%= form_tag activities_path, method: :get do %>
      <p><%= submit_tag "Search by volunteer:", name: nil %>
      <%= text_field_tag :query %></p>
    <% end %>
  </div>
</div>

<div class="scroll">
  <table class="full-width">
    <thead>
      <tr>
        <th><%= link_to "Date", :query => "date" %></th>
        <th><%= link_to "Volunteer", :query => "name" %></th>
        <th><%= link_to "Role", :query => "role" %></th>
        <th><%= link_to "Duration (hrs)", :query => "duration" %></th>
      <tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr class="table-content">
          <td><%= link_to display_date(activity.date), activity_path(activity) %></td>
          <td><%= activity.volunteer.full_name %></td>
          <td><%= activity.role.title %></td>
          <td><%= display_hours(activity.duration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>