<%= render partial: '/shared/flash_alerts' %>

<div class="flex-row">
  <div>
    <h1>Activity Records<%= " for #{@volunteer.full_name}" if @volunteer %></h1>
  </div>
  <div>
    <% if @volunteer %>
      <%= link_to "Add new record for #{@volunteer.first_name}", new_volunteer_activity_path(@volunteer), class: "button" %>
    <% else %>
    <%= link_to "Add new record", new_activity_path, class: "button" %>
    <% end %>
  </div>
</div>

<% if !@volunteer %>
  <div>
    <div class="filter-options">
      <span>Sort by <%= link_to "Newest", activities_path(query: "newest") %> | 
      <%= link_to "Oldest", activities_path(query: "oldest") %></span>
    </div>
    <div class="search-bar">
      <%= form_tag activities_path, method: :get do %>
        <%= text_field_tag :query, nil, placeholder: "Search by volunteer name" %>
        <%= submit_tag "Search", name: nil %>
      <% end %>
      <%= render partial: '/shared/flash_search_guide' %>
    </div>
  </div>
<% end %>

<div class="scroll">
  <table class="full-width">
    <thead>
      <tr>
        <th><%= link_to "Date", :query => "newest" %></th>
        <% if !@volunteer %>
          <th><%= link_to "Volunteer", :query => "name" %></th>
        <% end %>
        <th><%= link_to "Role", :query => "role" %></th>
        <th><%= link_to "Duration (hrs)", :query => "duration" %></th>
      <tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr class="table-content">
          <td><%= link_to display_date(activity.date), activity_path(activity) %></td>
          <% if !@volunteer %>
            <td><%= activity.volunteer.full_name %></td>
          <% end %>
          <td><%= activity.role.title %></td>
          <td><%= display_hours(activity.duration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= display_message(@message) %>
</div>