<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="page-container<%= ' visitor' if !current_user %>">
    <% if current_user %>
      <nav>
        <div class="navbar">
          <div id="site-title">
            <%= link_to 'VolunteerLog', '/' %> 
          </div>
          <div class= "link-block">
            <%= link_to 'Volunteers', volunteers_path %> |
            <%= link_to 'Roles', roles_path %> |
            <%= link_to 'Activity Records', activities_path %> |
            <%= link_to 'Logout', logout_path, method: 'delete' %> 
          </div>
        </div>
      <hr>
     </nav>
    <% end %>
    
    <%= yield %>

    <div class="push"></div>
    </div>
    <footer class="<%= 'visitor-footer' if !current_user %>">
      <div class="link-block<%= ' visitor' if !current_user %>">
        <%= link_to 'Home', '/' %> | <%= link_to 'GitHub Repo', 'https://github.com/staceymck/volunteer-log' %>
      </div>
    </footer>
  </body>
</html>
