<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
      <div>
        <%= link_to 'VolunteerLog', '/' %> 
      </div>
      <div>
        <%= link_to 'Volunteers', volunteers_path %> |
        <%= link_to 'Roles', roles_path %> |
        <%= link_to 'Activity Records', activities_path %> |
        <%= link_to 'Logout', logout_path, method: 'delete' %> 
      </div>
     <% end %>
    </nav>
    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= yield %>

    <footer>
      <%= link_to 'Home', '/' %> | <%= link_to 'GitHub Repo', 'https://github.com/staceymck/volunteer-log' %>
    </footer>
  </body>
</html>
